# MODULE 1
QYERY 1.1

*Import the csv file of the stock you have been allotted using 'pd.read_csv()' function into a dataframe. Shares of a company can be offered in more than one category. The category of a stock is indicated in the ‘Series’ column. If the csv file has data on more than one category, the ‘Date’ column will have repeating values. To avoid repetitions in the date, remove all the rows where 'Series' column is NOT 'EQ'. Analyze and understand each column properly. You'd find the head(), tail() and describe() functions to be immensely useful for exploration. You're free to carry out any other exploration of your own.*

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#LOADING THE DATA
stock_data = pd.read_csv('HEROMOTOCO.csv',parse_dates=['Date'])
stock_data.head() #VIEWING THE FIRST FIVE ROWS

       Symbol Series  ... Deliverable Qty  % Dly Qt to Traded Qty
0  HEROMOTOCO     EQ  ...          110769                   51.38
1  HEROMOTOCO     EQ  ...          147610                   39.64
2  HEROMOTOCO     EQ  ...          160855                   47.54
3  HEROMOTOCO     EQ  ...          143430                   48.78
4  HEROMOTOCO     EQ  ...          113208                   41.86

[5 rows x 15 columns]

In [ ]:
#viewing the information about each column
stock_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Symbol                  494 non-null    object
 1   Series                  494 non-null    object
 2   Date                    494 non-null    datetime64[ns]
 3   Prev Close              494 non-null    float64
 4   Open Price              494 non-null    float64
 5   High Price              494 non-null    float64
 6   Low Price               494 non-null    float64
 7   Last Price              494 non-null    float64
 8   Close Price             494 non-null    float64
 9   Average Price           494 non-null    float64
 10  Total Traded Quantity   494 non-null    int64
 11  Turnover                494 non-null    float64
 12  No. of Trades           494 non-null    int64
 13  Deliverable Qty         494 non-null    int64
 14  % Dly Qt to Traded Qty  494 non-null    float64
dtypes: datetime64[ns](1), float64(9), int64(3), object(2)
memory usage: 58.0+ KB

In [ ]:
#series = EQ
stock_data['Series'].value_counts()

EQ    494
Name: Series, dtype: int64

# QUERY 1.2
*Calculate the maximum, minimum and mean price for the last 90 days. (price=Closing Price unless stated otherwise)*

In [ ]:
#maximum price
print("Maximum closing price:",stock_data['Close Price'].tail(90).max())
#minimum price
print("Mininmum closing price:",stock_data['Close Price'].tail(90).min())
#mean price
print("Mean of closing price:",stock_data['Close Price'].tail(90).mean())

Maximum closing price: 3127.6
Mininmum closing price: 2499.7
Mean of closing price: 2720.2794444444453

# QUERY 1.3
*Analyse the data types for each column of the dataframe. Pandas knows how to deal with dates in an intelligent manner. But to make use of Pandas functionality for dates, you need to ensure that the column is of type 'datetime64(ns)'. Change the date column from 'object' type to 'datetime64(ns)' for future convenience. See what happens if you subtract the minimum value of the date column from the maximum value.*

In [ ]:
stock_data.dtypes

Symbol                            object
Series                            object
Date                      datetime64[ns]
Prev Close                       float64
Open Price                       float64
High Price                       float64
Low Price                        float64
Last Price                       float64
Close Price                      float64
Average Price                    float64
Total Traded Quantity              int64
Turnover                         float64
No. of Trades                      int64
Deliverable Qty                    int64
% Dly Qt to Traded Qty           float64
dtype: object

In [ ]:
#subtract the minimum value of the date column from the maximum value
stock_data['Date'].max() - stock_data['Date'].min()

Timedelta('728 days 00:00:00')

# QUERY 1.4
*In a separate array , calculate the monthwise VWAP (Volume Weighted Average Price ) of the stock. ( VWAP = sum(price*volume)/sum(volume) ) To know more about VWAP , visit - VWAP definition {Hint : Create a new dataframe column ‘Month’. The values for this column can be derived from the ‘Date” column by using appropriate pandas functions. Similarly, create a column ‘Year’ and initialize it. Then use the 'groupby()' function by month and year. Finally, calculate the vwap value for each month (i.e. for each group created). *

In [ ]:
import datetime
stock_data['Month'] = pd.DatetimeIndex(stock_data['Date']).month
stock_data['Year'] = pd.DatetimeIndex(stock_data['Date']).year

In [ ]:
print(stock_data['Date'],stock_data['Month'],stock_data['Year'])

In [ ]:
#calculate Volume Weighted Average Price
stock_data['Close Price x Total Traded Quantity'] = stock_data['Close Price']*stock_data['Total Traded Quantity']
stock_data.tail()

         Symbol Series  ...  Year  Close Price x Total Traded Quantity
489  HEROMOTOCO     EQ  ...  2019                         8.780696e+08
490  HEROMOTOCO     EQ  ...  2019                         1.014941e+09
491  HEROMOTOCO     EQ  ...  2019                         1.485802e+09
492  HEROMOTOCO     EQ  ...  2019                         8.343567e+08
493  HEROMOTOCO     EQ  ...  2019                         7.881294e+08

[5 rows x 18 columns]

In [ ]:
stock_data.groupby(['Year','Month'])['Close Price x Total Traded Quantity'].sum()/stock_data.groupby(['Year','Month'])['Total Traded Quantity'].sum()

Year  Month
2017  5        3629.756758
      6        3762.375207
      7        3716.508207
      8        3908.552443
      9        3864.698451
      10       3761.330148
      11       3666.117287
      12       3639.227876
2018  1        3665.168310
      2        3562.615022
      3        3532.027540
      4        3728.259323
      5        3596.834895
      6        3613.206493
      7        3301.331671
      8        3270.128244
      9        3140.980442
      10       2809.534693
      11       2949.758444
      12       3209.052989
2019  1        2803.199283
      2        2757.200807
      3        2669.353783
      4        2614.833935
      5        2535.553353
dtype: float64

# QUERY 1.5
*Write a function to calculate the average price over the last N days of the stock price data where N is a user defined parameter. Write a second function to calculate the profit/loss percentage over the last N days. Calculate the average price AND the profit/loss percentages over the course of last - 1 week, 2 weeks, 1 month, 3 months, 6 months and 1 year. {Note : Profit/Loss percentage between N days is the percentage change between the closing prices of the 2 days }*

In [ ]:
#function to find average over last n days
def avg_price(n):
    print('The average price of the last {} days are'.format(n))
    print(stock_data['Average Price'].tail(n))

In [ ]:
#function to calculate the profit/loss percentage over the last N days
def profitperloss(n):
  proloss=(stock_data.loc[len(stock_data)-(n-1)]['Average Price']-stock_data.loc[len(stock_data)-1]['Average Price'])/(stock_data.loc[len(stock_data)-(n-1)]['Average Price'])
  if(proloss>0):
    print('Profit is {} percent'.format(proloss*100))
  else:
    print('Loss is {} percent'.format(abs(proloss*100)))

In [ ]:
num=int(input('Enter the value of last number of days'))
avg_price(num)
profitperloss(num)

Enter the value of last number of days10
The average price of the last 10 days are
484    2599.62
485    2519.33
486    2544.98
487    2567.53
488    2541.08
489    2546.23
490    2515.26
491    2536.33
492    2529.09
493    2520.21
Name: Average Price, dtype: float64
Loss is 0.034929921844304206 percent

# QUERY 1.6
*Add a column 'Day_Perc_Change' where the values are the daily change in percentages i.e. the percentage change between 2 consecutive day's closing prices. Instead of using the basic mathematical formula for computing the same, use 'pct_change()' function provided by Pandas for dataframes. You will note that the first entry of the column will have a ‘Nan’ value. Why does this happen? Either remove the first row, or set the entry to 0 before proceeding*

In [ ]:
stock_data['Day_Perc_Change']=(stock_data['Close Price'].pct_change())*100
print(stock_data['Close Price'].pct_change())

0           NaN
1      0.029569
2      0.007335
3     -0.014784
4     -0.005679
         ...
489   -0.001560
490   -0.010940
491    0.015222
492   -0.011999
493    0.001376
Name: Close Price, Length: 494, dtype: float64

# QUERY 1.7
 *Add another column 'Trend' whose values are: 'Slight or No change' for 'Day_Perc_Change' in between -0.5 and 0.5 'Slight positive' for 'Day_Perc_Change' in between 0.5 and 1 'Slight negative' for 'Day_Perc_Change' in between -0.5 and -1 'Positive' for 'Day_Perc_Change' in between 1 and 3 'Negative' for 'Day_Perc_Change' in between -1 and -3 'Among top gainers' for 'Day_Perc_Change' in between 3 and 7 'Among top losers' for 'Day_Perc_Change' in between -3 and -7 'Bull run' for 'Day_Perc_Change' >7 'Bear drop' for 'Day_Perc_Change' <-*7*

In [ ]:
type(stock_data)

pandas.core.frame.DataFrame

In [ ]:
stock_data['Trend']=None
for i in range(494):
    if(stock_data.loc[i]['Day_Perc_Change']>-0.5 and stock_data.loc[i]['Day_Perc_Change']<0.5):
        stock_data['Trend'][i]='Slight or No change'
    elif(stock_data.loc[i]['Day_Perc_Change']>0.5 and stock_data.loc[i]['Day_Perc_Change']<1):
        stock_data['Trend'][i]='Slight positive'
    elif(stock_data.loc[i]['Day_Perc_Change']>-1 and stock_data.loc[i]['Day_Perc_Change']<-0.5):
        stock_data['Trend'][i]='Slight negative'
    elif(stock_data.loc[i]['Day_Perc_Change']>-3 and stock_data.loc[i]['Day_Perc_Change']<-1):
        stock_data['Trend'][i]='Negative'
    elif(stock_data.loc[i]['Day_Perc_Change']>3 and stock_data.loc[i]['Day_Perc_Change']<7):
        stock_data['Trend'][i]='Among top gainers'
    elif(stock_data.loc[i]['Day_Perc_Change']>-7 and stock_data.loc[i]['Day_Perc_Change']<-3):
        stock_data['Trend'][i]='Among top losers'
    elif(stock_data.loc[i]['Day_Perc_Change']>7):
        stock_data['Trend'][i]='Bull run'
    else:
        stock_data['Trend'][i]='Bear drop'

In [ ]:
stock_data['Trend']

0                Bear drop
1                Bear drop
2          Slight positive
3                 Negative
4          Slight negative
              ...
489    Slight or No change
490               Negative
491              Bear drop
492               Negative
493    Slight or No change
Name: Trend, Length: 494, dtype: object

# QUERY 1.8
*Find the average and median values of the column 'Total Traded Quantity' for each of the types of 'Trend'. {Hint : use 'groupby()' on the 'Trend' column and then calculate the average and median values of the column 'Total Traded Quantity'}*

In [ ]:
print("The average of Total Traded Quantity: ")
print(stock_data.groupby('Trend')['Total Traded Quantity'].mean())

The average of Total Traded Quantity:
Trend
Among top gainers      6.578466e+05
Among top losers       9.763052e+05
Bear drop              4.854272e+05
Bull run               2.742733e+06
Negative               4.579074e+05
Slight negative        3.724389e+05
Slight or No change    3.759908e+05
Slight positive        4.221623e+05
Name: Total Traded Quantity, dtype: float64

In [ ]:
print("The median of Total Traded Quantity: ")
print(stock_data.groupby('Trend')['Total Traded Quantity'].median())

The median of Total Traded Quantity:
Trend
Among top gainers       655917.0
Among top losers        790491.5
Bear drop               383335.0
Bull run               2742733.0
Negative                394603.0
Slight negative         280729.0
Slight or No change     309517.0
Slight positive         365879.0
Name: Total Traded Quantity, dtype: float64

# QUERY 1.9
SAVE the dataframe with the additional columns computed as a csv file week2.csv.

In [ ]:
stock_data.to_csv('week2.csv')